OkParcalari/GreenTheGarden.xcodeproj/project.xcworkspace
OkParcalari/GreenTheGarden.xcodeproj/xcuserdata
OkParcalari/.DS_Store


/.DS_Store
/OkParcalari/OkParcalari/.DS_Store
/OkParcalari/OkParcalari/Resources/.DS_Store
/OkParcalari/OkParcalari/Resources/images/.DS_Store
/OkParcalari/OkParcalari/Resources/images/theme_fiskiye/.DS_Store

/OkParcalari/OkParcalari/Resources/SBJson/.DS_Store
/OkParcalari/OkParcalari/Resources/maps/.DS_Store

OkParcalari/OkParcalari/Resources/images/theme_fiskiye/.DS_Store
OkParcalari/OkParcalari/Resources/images/theme_fiskiye/in_game_menu/.DS_Store

OkParcalari/OkParcalari/Resources/images/theme_fiskiye/arrow_base/.DS_Store

OkParcalari/OkParcalari/Resources/images/theme_fiskiye/tiles/.DS_Store

OkParcalari/OkParcalari/Resources/images/theme_fiskiye/tiles/.DS_Store

/OkParcalari/OkParcalari/Managers/.DS_Store
OkParcalari/OkParcalari/Resources/images/theme_fiskiye/backgrounds/.DS_Store

OkParcalari/OkParcalari/Resources/images/theme_fiskiye/in_game_menu/.DS_Store

/OkParcalari/OkParcalari/tr.lproj/.DS_Store