.DS_Store

OkParcalari/Green The Garden.xcodeproj/project.xcworkspace
OkParcalari/Green The Garden.xcodeproj/xcuserdata

rotate_me/RotateMe/RotateMe.xcodeproj/project.xcworkspace
rotate_me/RotateMe/RotateMe.xcodeproj/xcuserdata

DeleteTheBoxes/DeleteTheBoxes.xcodeproj/project.xcworkspace
DeleteTheBoxes/DeleteTheBoxes.xcodeproj/xcuserdata

Equify/Equify.xcodeproj/project.xcworkspace
Equify/Equify.xcodeproj/xcuserdata

*.xcuserstate
