<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">
  <array>
    <dict xmlns="fl.motion.*">
      <key>repeatForever</key>
      <true/>
      <key>source</key>
      <dict>
        <key>name</key>
        <string>tst</string>
        <key>scaleX</key>
        <real>0.762</real>
        <key>scaleY</key>
        <real>0.762</real>
        <key>rotation</key>
        <real>0</real>
        <key>x</key>
        <real>69.65</real>
        <key>y</key>
        <real>-69.85</real>
        <key>transformationPointX</key>
        <real>0.8394366197183099</real>
        <key>transformationPointY</key>
        <real>0.9719402985074627</real>
      </dict>
      <key>keyframes</key>
      <array>
        <dict>
          <key>ease</key>
          <real>0</real>
          <key>duration</key>
          <real>1.3333333333333333</real>
        </dict>
      </array>
    </dict>
  </array>
</plist>